/* app/profile/[id]/profile.module.css */

.profileContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .profileContainer h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .profileContainer p {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-top: 50px;
  }

  /* app/profile/[id]/profile.module.css */

.myProfileLink {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.myProfileLink:hover {
  background-color: #005bb5;
}

  